


  .table__sell.table__sell_theme_dark{
    z-index: 2;
    color: white;
    width: 200px;
    margin-top: 80px;
    margin-right: 0;
    margin-bottom: 80px;
  }

  .table__sell{
    margin: 0;
    padding: 0;
    text-align: start;
    width: 250px;
    margin-bottom: 60px;
  }