.section-subtitle{
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
    width: 60%;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
  }
  
  
  .section-subtitle_theme_dark{
    color: white;
    margin: 0 auto;
  }