@import url(../../blocks/rotate/rotate.css);




.logo_place_header{
    position: absolute;
    top: 30px;
    left: 64px;
  }

  .header {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
    overflow: hidden;
    /* выше установили ограничения для секции */
  }
  
  .header__title{
    width: 730px;
    margin-left: 64px;
    font-weight: 600;
    font-size: 102px;
    line-height: 96px;
    z-index: 2;
  }
  
  .header__subtitle{
    z-index: 2;
    position: absolute;
    left: 64px;
    bottom: 30px;
    width: 388px;
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
  }
  
  .header__link{
    top: 50px;
    left: 273px;
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #2f80ed;
  
  }

  .header__link::after{
    content: "\2192";
    
  }
  
  .header__link:hover{
    color: #0c56b8;
  }
  
  .header__main-illustration{
    height: 608px;
    width: 765px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  
  .header__square-pic{
    animation: rotate 20s linear infinite;
    position: absolute;
    top: 64px;
    right: 0;
    height: 568px;
    width: 568px;
    background-color: #2f80ed;
    z-index: 0;
  }

  
  
  