@import url(../../blocks/rotate/rotate.css);
@import url(./logo_place_header/logo_place_header.css);
@import url(./__title/__title.css);
@import url(./__subtitle/__subtitle.css);
@import url(./__main-illustration/__main-illustration.css);
@import url(./__link/__link.css);
@import url(./__square-pic/__square-pic.css);



  .header {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
    overflow: hidden;
    /* выше установили ограничения для секции */
  }
  
  
  
  
  
  
  
  
  
  

  
  
  