.header__link{
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: #2f80ed;
  
  }

  .header__link::after{
    content: "\2192";
    
  }
  
  .header__link:hover{
    color: #0c56b8;
  }