.kaufman{
    padding-top: 90px;
    background-color: #1f1f1f;
  }
  .cards__title_theme-dark{
    color: white;
  }
  .cards__description_theme-dark{
    color: white;
    margin: 0;
  }
  
  
  
  
  
  