
.main__link{
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #2f80ed;
}
.main__link::after{
  content: "\2192";
  
}

.main__link:hover{
  color: #0c56b8;
}




