.kaufman__triangle{
    margin: 0;
    padding: 0;
    background:  no-repeat center center/cover url('../../../images/kaufman-triangle.svg');
    width: 877px;
    height: 877px;
    position: absolute;
    z-index: 0;
    right: -130px;
    top: 100px;
  }