.footer{
    min-height: 350px;
    padding-top: 60px;
    padding-bottom: 40px;
    color: white;
    background-color: #1f1f1f;
  }
  
  .footer__columns{
    margin: 0 auto;
    display: flex;
    flex-basis: 711px;
    justify-content: space-between;
    max-width: 90%;
   
  }
  
  .footer__author{
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    padding: 18px;
    margin-top: 100%;
  }
  
  
  
  .footer__column-links{
    display: flex;
    flex-direction: column;
    margin: 16px 0 20px 0;
    justify-content: space-between;
  }
  
  .footer__column-heading{
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
  }
  
  .footer__social-icon{
    margin-right: 10px;
  }
  
  .footer__column-link{
    line-height: 18px;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
    display: flex;
    text-decoration: none;
    color: white;
  }