

.footer{
    min-height: 250px;
    padding-top: 60px;
    padding-bottom: 40px;
    color: white;
    background-color: #1f1f1f;
    display: grid;
  }






  /* Я не могу понять как выровнить по нужному размеру футер. Если ставлю секции display: flex или другие кроме грида то блок с классом footer__columns не растягивается на 100% высоты футера не могу понять почему. Не могли бы вы подсказать? 
  я временно поставил секции минимальную высоту 250пх с учетом паддингов как раз выходит 350пх*/