
@import url(/vendor/fonts/fonts.css);
@import url(/blocks/header/header.css);
@import url(/blocks/video/video.css);
@import url(/blocks/description/description.css);
@import url(/blocks/techniques/techniques.css);
@import url(/blocks/feynman/feynman.css);
@import url(/blocks/digits/digits.css);
@import url(/blocks/khan/khan.css);
@import url(/blocks/kaufman/kaufman.css);
@import url(/blocks/resources/resources.css);
@import url(/blocks/footer/footer.css);
@import url(/styles/keyframes.css);
@import url(/blocks/link-arrow/link-arrow.css);

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Inter', 'Arial', sans-serif; 
  
}



/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

/*-----------------------------------------МОИ СТИЛИ-----------------------------------------*/

.section-title{
  width: 60%;
  margin-bottom: 20px;
  /* margin-top: 100px; */
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle{
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.section-title_theme-dark{
  color: white;
}

.section-subtitle_theme-dark{
  color: white;
  margin: 0 auto;
}
.table{
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
}
.table__sell{
  text-align: start;
  width: 250px;
  margin-bottom: 60px;
}

.table__heading{
  margin-bottom: 20px;
}
.table__text:not(:last-child){
  margin-bottom: 20px;
}

.table_theme-dark{
  padding: 80px;
}

.table__sell_theme-dark{
  width: 200px;
  margin-bottom: 80px;
}

/*-----------------------------------------МОИ СТИЛИ-----------------------------------------*/



